@font-face {
    font-family: 'Alegreya SC';
    src: url("fonts/Alegreya_SC/.ttf");
}

@font-face {
    font-family: 'Alegreya SC';
    src: url("fonts/Alegreya/static/Alegreya-Regular.ttf");
}    

body {
    margin: 0;
    background-color: rgb(20, 23, 32);
}

H1 {
    color: rgb(70, 236, 150);
    margin: 0;
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 50px;
}

#headline {
    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: 10px;
}

#subheader {
    color: rgb(70, 236, 150);
    margin-left: 50px;
    margin-bottom: 45px;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 20px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px
}

#top {
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: rgb(31, 43, 64);
}

#tree_txt1 {
    color: rgb(70, 236, 150);
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 20px;
}

#tree_txt2 {
    color: rgb(70, 236, 150);
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 0px;
}

#slider_txt1 {
    color: rgb(70, 236, 150);
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#choro_txt {
    background-color: rgb(31, 43, 64);
    color: rgb(70, 236, 150);
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-top: 20px;
}

#sunburst_txt {
    background-color: rgb(31, 43, 64);
    color: rgb(70, 236, 150);
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}

#area_txt {
    background-color: rgb(31, 43, 64);
    color: rgb(70, 236, 150);
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-top: 20px;
}

#bottom {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    color: rgb(31, 43, 64)
}

#Map {
    width: '100%';
}

#Sunburst {
    width: '100%';
}

#slider {
    background-color: rgb(31, 43, 64);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.flex-container {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 0px;
    margin-left: 30px;
}

.flex-child:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}



/* LEG MED SLIDER CSS HER FRA */

#slider .rc-slider-track {
    background-color: rgb(127, 175, 223); /* rail for valgte år */
}

.rc-slider-rail {
    background-color: rgb(20, 23, 32) !important; /* rail for ikke valgte år */
}

.rc-slider-dot {
    border-color: rgb(20, 23, 32); /* mellemprikker for ikke valgte år */
}

.rc-slider-dot-active {
    border-color: rgb(127, 175, 223) !important; /* mellemprikker for valgte år */
}

.rc-slider-handle {
    border-color: rgb(127, 175, 223);
    border: solid 2px rgb(127, 175, 223);
}

.rc-slider-handle:hover {
    background-color: rgb(127, 175, 223);
    border-color: rgb(127, 175, 223);
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: rgb(127, 175, 223);
    background-color: rgb(127, 175, 223);
    box-shadow: 0px 0px 5px 3px rgba(252, 251, 251, 0.95);
}

.rc-slider-handle-click-focused:focus {
    border-color: rgb(127, 175, 223);
}


/*
.rc-slider-mark-text:active {
    color: rgb(223, 127, 127)
    
}
*/

.rc-slider-mark-text-active {
    color: rgb(233, 233, 233);
}
/*
.rc-slider-mark-text {
    color: rgb(244, 244, 244)
} */



/*
.rc-slider {
    background-color: #eee;
    height: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
.rc-slider .rc-handle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

*/